

@if (ListUrlImages.Count > 0)
{
    <div class="game-container" id="container" style="@ContainerStyle">

        @for (int i = 0; i < NumberImages; i++)
        {
            int j = i;
            <div class=" @ClassName[j]" @onclick="()=> FlipCard(j)" style="@MemoryCardStyle">
                <img src="@ListUrlImages[i]" class="front-card" />
                <img src="@ImageDefaultCard" class="back-card" />
            </div>
        }
    </div>
    <div>
        <ButtonsLevel Level1="()=> {RestartGame(new Level1Configuration());}" Level2="() => {RestartGame(new Level2Configuration());}"></ButtonsLevel>
    </div>

}
else
{
    <h2>Loading ...</h2>
}



<Modal @ref="modal" Title="Jogo da Memória" Show="modalIsVisible" Confirm="()=> { RestartGame(_level); }">
    <div>
        <h2>Parabéns!</h2>
        <h3>Você conseguiu em @attempts tentativas.</h3>
    </div>
</Modal>




@code {
    [Parameter] public int NumberImages { get; set; }
    [Parameter] public List<string> ListUrlImages { get; set; }
    [Parameter] public string ImageDefaultCard { get; set; }
    [Parameter] public int ColumnNumber { get; set; }

    string ContainerStyle => $"grid-template-columns: repeat({ColumnNumber}, 1fr);";
    string MemoryCardStyle => $"width: {_level.CardWidth}px; height: {_level.CardHeight}px;";

    LevelModel _level;
    private List<string> ClassName { get; set; } = new List<string>();
    Modal modal;
    GameContainer game;
    int attempts = 0; //tentativas

    int cardPosition1 = 0, cardPosition2 = 0, cards = 0;
    bool isBlock = false;
    List<int> pairs = new List<int>();
    bool modalIsVisible = false;

    protected override void OnInitialized()
    {
        _level = new Level1Configuration();
        game = new GameContainer();

        AddClassName();
    }

    private void AddClassName()
    {
        for (int i = 0; i < NumberImages; i++)
        {
            ClassName.Add("memory-card ");
        }
    }

    private async void FlipCard(int position)
    {
        if (isBlock || pairs.Contains(position)) return;

        if (cards == 0)
        {
            ClassName[position] = "memory-card flip-back flip-front";
            cardPosition1 = position;
            cards++;
        }
        else
        {
            isBlock = true;
            cardPosition2 = position;
            if (cardPosition1 == cardPosition2)
            {
                isBlock = false;
                return;
            }
            ClassName[position] = "memory-card flip-back flip-front";
            await Task.Delay(TimeSpan.FromSeconds(1.2));

            if (!CheckMatchingCards(cardPosition1, cardPosition2))
            {
                ClassName[cardPosition1] = "memory-card ";
                ClassName[cardPosition2] = "memory-card ";
            }
            cards = 0;
            isBlock = false;
            StateHasChanged();
            if (pairs.Count == NumberImages)
            {
                Win();
            }
        }

    }

    private bool CheckMatchingCards(int pos1, int pos2)
    {
        if (ListUrlImages[pos1].Equals(ListUrlImages[pos2]))
        {
            pairs.Add(pos1);
            pairs.Add(pos2);
            attempts++;
            return true;
        }
        else
        {
            attempts++;
            return false;
        }
    }

    private void Win()
    {
        modalIsVisible = true;
        StateHasChanged();

    }

    public void RestartGame(LevelModel level)
    {
        _level = level;
        ColumnNumber = _level.ColumnNumber;
        ImageDefaultCard = game.GetImageDefault(_level);
        modalIsVisible = false;
        NumberImages = _level.NumberOfImages * 2;
        ListUrlImages = game.GetImagesUrl(_level);
        cardPosition1 = 0; cardPosition2 = 0; cards = 0;
        isBlock = false;
        pairs.Clear();
        attempts = 0;
        ClassName.Clear();
        AddClassName();
        StateHasChanged();
    }



}

<style>
@@media(max-width: 43em) and (orientation:portrait) {
    .memory-card {
        width: 100px !important;
        height: 100px !important;
    }
}

    @@media(max-width: 28.12em) and (orientation:portrait) {
        .memory-card {
            width: 60px !important;
            height: 60px !important;
        }
    }
    @@media(max-width: 41.8em) and (orientation:landscape) {
        .memory-card {
            width: 60px !important;
            height: 60px !important;
        }
    }



</style>